@import "testing";

.testing {
    width: percentage(6/7);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.haha {
    background-color: wheat;
    display: flex;
}
